<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>GGTracker Uploader</string>
  <key>CFBundleExecutable</key>
  <string>JavaApplicationStub</string>
  <key>CFBundleGetInfoString</key>
  <string>GGUploader</string>
  <key>CFBundleIconFile</key>
  <string>gg.png</string>
  <key>CFBundleIdentifier</key>
  <string>com.ggtracker.uploader</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>1.0</string>
  <key>CFBundleName</key>
  <string>gguploader</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBunderVersion</key>
  <string>1.0.0</string>
  <key>Java</key>
  <dict>
  	<key>JVMVersion</key>
  	<string>1.6+</string>
  	<key>MainClass</key>
  	<string>com.ggtracker.uploader.GgtrackerUploader</string>
    <key>ClassPath</key>
    <string>$JAVAROOT/SimpleEdit.jar</string>
  </dict>
</dict>
</plist>